backend/logs
frontend/logs

backend/*.log
frontend/*.log

backend/npm-debug.log*
frontend/npm-debug.log*

backend/node_modules
frontend/node_modules

backend/dist
frontend/dist

backend/dist-ssr
frontend/dist-ssr

backend/*.local
frontend/*.local

backend/server.crt
backend/server.key
.env
