backend/logs
kyd/logs
static_pages/logs

backend/*.log
kyd/*.log
static_pages/*.log

backend/npm-debug.log*
kyd/npm-debug.log*
static_pages/npm-debug.log*

backend/node_modules
kyd/node_modules
static_pages/node_modules

backend/dist
kyd/dist
static_pages/dist

backend/dist-ssr
kyd/dist-ssr
static_pages/dist-ssr

backend/*.local
kyd/*.local
static_pages/*.local

backend/server.crt
backend/server.key
.env
