backend/logs
backend/*.log
backend/npm-debug.log*
backend/node_modules
backend/dist
backend/dist-ssr
backend/*.local
backend/server.crt
backend/server.key

kyd/logs
kyd/*.log
kyd/npm-debug.log*
kyd/node_modules
kyd/dist
kyd/dist-ssr
kyd/*.local

static_pages/logs
static_pages/*.log
static_pages/npm-debug.log*
static_pages/node_modules
static_pages/dist
static_pages/dist-ssr
static_pages/build
static_pages/.svelte-kit
static_pages/.npmrc
static_pages/*.local

.env
