@import "tailwindcss";

:root {
    background-color: #173962;
    --brand-blue: #173962;
    --brand-orange: #f38144;
    --brand-light-blue: #489cbf;
    --brand-green: #bfd730;
    --brand-yellow: #ffdd00;
    --brand-grey: #dddddd;
    --font-mono: "JetBrains Mono";
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.pulse-dot {
    width: 6px;
    height: 6px;
    background-color: var(--color-slate-100);
    border-radius: 100%;
    position: relative;
}

.pulse-dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, 0.6);
    transform: translate(-50%, -50%);
    animation: pulseGlow 3s ease-out infinite;
    background-color: transparent;
}

@keyframes pulseGlow {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    70% {
        transform: translate(-50%, -50%) scale(2.6);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.6);
        opacity: 0;
    }
}

p {
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
